header {

    padding: 1.5rem 2rem;
    ;
    text-align: center;
    color: rgb(204, 0, 0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, #374151, #971616);
    box-shadow: 0 6px 14px rgb(255, 255, 255);





}

header h1 {
    font-family: "Oswald", sans-serif;
    ;
    font-size: 44px;
    text-transform: capitalize;
    margin: 0;

}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(90deg, #8d2c2c, #04191d);



}

header p {

    margin-top: 0.3rem;
    font-size: 0.95rem;
    color: rgb(110, 2, 2);

}

main {

    margin: 2.5rem auto;
    padding: 0 1.5rem;
    max-width: 1000px;
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(94, 28, 28, 0.705);
    border-radius: 14px;
    padding: 1.8rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: black;
    font-size: 19px;


}

article :hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgb(255, 255, 255);
}

article h2 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: black;
}

.para {
    color: rgba(17, 221, 95, 0.568);
    font-family: "Oswald", sans-serif;
    margin-bottom: 0.8rem;

}

p {
    line-height: 1.6;
}

details summary {
    color: #229417;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0.6rem;
    transition: color 0.2s ease;

}

details summary :hover {
    color: green;

}

#first {
    text-align: right;
}


#second {
    text-align: left;
}


#third {
    text-align: center;
}


#fourth {
    text-align: end;
}


details p {
    margin: 0.
}

footer {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: wavy;
}